/* FUNCTIONAL CSS */

* {
	box-sizing: border-box;
}

#gameFrame {
	height: 600px;
	width: 800px;
	margin: auto;
	overflow: hidden;
	position: relative;
	background-color: #331667;
}

#gameFrame.ennemyShooting {
	background-color: brown;
}		

#gameFrame.playerShooting {
	background-color: white;
}

#healthBar {
	background-color: coral;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}


#newGame {
	position: absolute;
	display: block;
	border: none;
	padding: 1em;
	box-shadow: none; 
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
}

#newGame span {
	display: none;
}

#gameFrame.playerWon .messageWon,
#gameFrame.playerDead .messageDead,
#gameFrame.firstGame .messageWelcome,
.firstGame #newGame,
.playerDead #newGame,
.playerWon #newGame {
	display: block;
}

.playerWon #newGame {
	background-color: #4CAF50;
}
.playerDead #newGame {
	background-color: coral;
}

.ennemy {
	background-color: #334E4B;
	position: absolute;
	height: 400px;
	width: 150px;
	bottom: -100%;
	transition: all .5s;
}

.ennemy.showing {
	bottom: -10%;
}

.ennemy.shooting {
	background-color: #2D1810;
}

.ennemy.dead {
	transform: rotate(-90deg);
	transform-origin: bottom left;
	bottom: -13%;
	background-color: white;
	margin-left: 20%;
}



/* AESTHETIC CHOICES */

body {
	font-family: sans-serif;
	background-color: black;
}

#gameFrame {
	font-weight: bold;
	cursor: crosshair;
	user-select: none;
	border-radius: 10px;
	color: coral;
	box-shadow: inset 0 -200px 50px #81a2a740, inset 0 100px 80px #11111140;	
}

#healthBar {
	transition: width .3s;
}

#newGame {
	background: radial-gradient(circle, rgba(15,121,96,1) 0%, rgba(56,96,134,1) 100%);
	color: white;
	cursor: pointer;
	font-size: 30px;
	letter-spacing: -.05em;
	font-weight: bold;	
}

#newGame p {
	font-size: 1.5em;
	margin-top: .5em;
	color: gold;
}

#newGame .emoji {
	display: block;
	font-size: 2em;
}

.ennemy {
	border-top: 80px solid  #142221;
	border-bottom: 150px solid  #1c3331;
	border-radius: 30px;
	box-shadow: 0 -1px 14px #ffffff5c, inset 0 32px 15px rgba(0, 0, 0, .3);
}


/* Ennemy's face and hat */
.ennemy:before {
	content: "°_°";
	padding-top: .20em;
	text-align: center;
	width: 130%;
	left: -15%;
	border-top: 10px solid  #1a2d2c;
	position: absolute;
	font-size: 100px;
}

/* Ennemy weapon */
.ennemy:after {
    content: "°";
    color: #334e4b;
    position: absolute;
    bottom: -50px;
    left: -32px;
    font-size: 80px;
    background-color: #0e211f;
    border-radius: 16px;
    border-left: 6px solid  #232323;
    border-bottom: 12px solid  #121212;
    box-sizing: border-box;
    line-height: .5em;
    width: 52px;
    text-align: center;
    padding-top: 17px;
    transition: all .2s;
}

.ennemy.shooting {
	box-shadow: inset 50px 0 25px #ff7f5063;
	color: rgba(255, 255, 255, .3);
	border-color: #361C17;
}

.ennemy.shooting:before {
	border-color: #361C17;			
}

.ennemy.shooting:after {
    content: "*";
    color: coral;
    text-shadow: 0 0 10px coral;
    background-color: #421e11;
    border-color: #5C1A19;
    transform: scale(2);
    padding: 0;
    font-size: 10em;
    bottom: -60px;
    height: 70px;
}

.ennemy.dead {
	filter: blur(2px) brightness(.5);	
}

/* Ennemy's dead face */
.ennemy.dead:before {
	content: "*_*";
}